html {
background-color: rgb(255, 197, 121);
font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: white;
    color: red;
    padding: 20px;
    border: solid 3px red;
    margin: 10px auto;
    width: 50%;
    text-align: center;
}

h2{
    background-color: rgb(154,206,254);
    color: blue;
    padding: 10px;
    border: solid 2px blue;
    margin: 10px auto;
    width: 40%;
    text-align: center;
}

#principal P {
    background-color: rgb(255, 255, 255);
    color: blue;
    padding: 10px;
    border: solid 2px rgb(0, 0, 0);
    margin: 10px auto;
    width: 40%;
    text-align: center;
}

#cap {
    background-color: rgb(132, 255, 167);
    padding: 10px;
    border: solid 1px blue;
    margin: 10px auto;
    width: 50%;
    text-align: center;
    background-image: url(img/agua.jpg),url(img/agua.jpg);
    background-size: 10%, 10%;
    background-position: left, right;
    background-repeat: repeat-y, repeat-y;
}

#llista{
    background-color: rgb(132, 255, 167);
    padding: 20px;
    border: solid 2px black;
    margin: 10px auto;
    width: 50%;
    text-align: center;
    text-indent: 1.2em;
    line-height: 2px;
}

#peu {
    background-color: rgb(132, 255, 167);
    padding: 10px;
    border: solid 1px blue;
    margin: 10px auto;
    width: 50%;
    text-align: center;
    
}

.textpeu {
 background-color: white;
 color: black;
 padding: 10px;
 border: solid 2px red;
 margin: 10px auto;
 width: 70%;
 text-align: center;
font-size: 1.5em;
font-weight: bold;
line-height: 30px;
}

.imagenportada {
   width: 100%;
}